* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  form input{
    cursor: pointer;
    width: 300px;
    display: block;
    margin: 10px 0;
    padding: 8px 5px;

  }
  form input:focus{
    outline: 0;
  }